<h1><%= @user.full_name %>'s profile</h1>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Last name</th>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <th scope="row">First name</th>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <th scope="row">Username</th>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th scope="row">Action</th>
      <td>
        <% if current_user.not_friends_with?(@user.id) %>
          <%= link_to 'Follow', friendships_path(friend: @user),
                          class: "btn btn-sm btn-success", method: :post %>
        <% else %>
          <span class="badge bg-secondary">
            You are friends.
          </span>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<% if current_user == @user %>
  <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-outline-success" %>
  <%= link_to 'Delete profile', registration_path(@user), class: "btn btn-outline-danger", data: { confirm: 'Are you sure?' }, method: :delete %>
<% end %>

<% if !@tracked_stocks.empty? %>
  <%= render 'stocks/list'%>
<% else %>
  <p class='lead'>This user is not tracking any stocks</p>
<% end %>
<%= link_to 'Back', my_friends_path, class: "btn btn-primary" %>