<nav class="navbar navbar-expand-lg navbar-light mb-2">
  <div class="container container-fluid">
    <i class="bi bi-wallet2 " id="logo" ></i>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= active_link_to 'Home', root_path, class: "nav-link ", active: :exclusive %>
        </li>
        <li class="nav-item">
          <%= active_link_to 'My Portfolio', my_portfolio_path, class: "nav-link " %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled " href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <!--
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary " type="submit">Search</button>
      </form>
      -->
      <% if user_signed_in? %>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-lines-fill fs-3"></i> &nbsp;Account 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to 'Edit profile', edit_user_registration_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        </div>
      <% end %>
      <% if !user_signed_in? %>
        <%= link_to 'Log in', new_user_session_path, class: "btn btn-outline-success me-2" %>
        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-success"%>
      <% end %>
    </div>
  </div>
</nav>
